:host {
    --slds-c-card-header-spacing-block-start : 0.25rem;
}

.del-tree-box {
    height:25rem;
    padding:0;
}

td {
    cursor: grab;
}

.dragStartClass {
    opacity: 0.6;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.over {
    padding-top: 25px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    cursor: grabbing;
}